* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  height: 100vh;
}

.container {
  display: flex;
  height: 100vh;
}


/* Lado direito */
.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0055aa, #3580db);
}

.login-box {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 550px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.login-box h2 {
  margin-bottom: 20px;
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #0055aa;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #532ed9;
}

.forgot {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 0.9rem;
  color: #3580db;
  text-decoration: none;
}

/* 📱 Mobile */
@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .left {
    height: 200px;
  }

  .right {
    height: calc(100vh - 200px);
  }
}

/*  Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .left {
    height: 300px;
  }

  .right {
    height: calc(100vh - 300px);
  }

  .login-box {
    max-width: 400px;
  }
}