body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #0055aa;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 40px;
}

h1 {
  color: #000000;
  margin-bottom: 30px;
}
 button {
      margin-top: 20px;
      width: 100%;
      padding: 12px;
      background-color: #003366;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }
    /*estilizaçao dos botoes do menu*/
.btn{
    background-color: #4f9cf9;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s ease;
}
.btn:hover{
    background-color: #3580db;
}

    .btn:hover{
    background-color: #3580db;
}
header{
    background: #0055aa;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
/*alinhamento da menu*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
/*alinhamento dos botoes*/
nav ul{
    display: flex;
    align-items: center;
}
/*estilizaçao dos textos dentro dos botoes*/
nav ul a{
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}
nav ul a:not(.btn):after{
    content: "";
    background-color: #0055aa;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}
/*animaçao dos botoes*/
nav ul a:hover::after{
    width: 100%;

}

.content {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.text {
  flex: 1;
}

.text p {
  color: #0c0c0c;
  line-height: 1.6;
  margin-bottom: 15px;
}

.media {
  flex: 1;
}

.media video {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}
 footer {
      text-align: center;
      padding: 15px;
      background-color: #003366;
      color: white;
      margin-top: 30px;
    }